<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="boardVo" type="net.koreate.vo.BoardVo"/>
		<typeAlias alias="criteria" type="net.koreate.vo.Criteria"/>
		<typeAlias alias="sCriteria" type="net.koreate.vo.SearchCriteria"/>
	</typeAliases>
</configuration>