@charset "UTF-8";
ul li{
	list-style:none;
}
.pagination{
	width:100%;
	padding-bottom:50px;
}

.pagination li{
	float:left;
	padding:3px;
	border:1px solid skyblue;
	margin:3px;
}

.pagination li a{
	margin:3px;
	text-decoration:none;
	color:black;
}

.active{
	background:skyblue;
}

.pagination > .active > a{
	color:white;
}